/* Page */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("../img/crossword.png");
}

.margin-adder {
    margin-top: 100px;
}

.margin-adder-bot {
    margin-bottom: 100px;
}

/* Header.php */
.navbar {
    opacity: 0.9;
    background-color: white;
}

.navbar .nav-link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
}

.nav-item, .navbar-brand {
    color: black;
}

#navbar .nav-link:not(.active-nav):hover {
    background-color: #3FC1C9;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.active-nav {
    background-color: #364F6B;
    color: white;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#custom-navbar {
    -webkit-box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
}

/*FOOTER*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*Set the fixed height of the footer here*/
    height: 60px;
    line-height: 60px; /*Vertically center the text there*/
    background-color: #E3E3E3;
}

/* Index.php */
.fillerTag {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

#customCarousel {
    width: 100%;
    max-height: 500px;
    margin-top: 86px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.carousel-inner .img-fluid {
    width: 100%;
    height: 100%;
    max-height: 500px;
}

/* Details.php */

#map {
    height:100%;
    width:100%;
    max-height: 300px;
}

#bildeboks {
    max-height: 300px;
    height:100%;
    width:100%;

}

.nav-tabs a:hover {
    background: #3FC1C9;
}

.img-others{
    width:100%;
    height:100%;
    max-height:180px;

}

/* EVEN CSS */
.material-icons.md-48 {
    font-size: 48px;
}

.circle {
    border-radius: 50%;
    width: 55px;
    height: 55px;
}

.float-button {
    z-index: 1;
    right: 19px;
    bottom: 30px;
    align-items: center;
    justify-content: center;
}

a {
    font-family: "Raleway-Regular";
    font-style: normal;
    text-decoration: none;
    color: black;
}

p {
    font-family: "Raleway-Regular";
    font-style: normal;
}

h4 {
    font-family: "PlayfairDisplay-Regular";
    font-size: 40px;
}


h3 {

    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

h5 {
    font-family: "PlayfairDisplay-Regular";
}

h6 {
    font-family: "Raleway-Regular";
    font-size: large;
}

#vpnKey {
    position: absolute;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 32px;
    right: 32px;

}

#addbtn {
    position: fixed;
    bottom: 0;
    background-color: deeppink;
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../private/fonts/Raleway/Raleway-Regular.ttf);

}

@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url(../private/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
