.btn{
    border-radius: 0;

}
.caret{
    color: white;
}
.dropdown-menu{
    color: #000;
}
.navbar {
    border-radius: 0;
}
#navbar{
    width: 100%;
}
#name{
    align-content: center;
}
#centerDiv{
    padding:0;
}
.navbar-inner{
    float: none;
    margin: 0;
}
#dropMeny{
    color: #0f0f0f;
}
#stayOnScreen{
    position: fixed;
}
.navbuttons{
    padding: 0;
}
.imageHolder{
    position: absolute;
    width: 7em;
    height: 7em;
    background-color: #0f0f0f;
    top: 25em;
    left: 25em;
    padding: 0;
    margin: 0;
}
#mapImg{
    left:35em;
}
#eventImg{
    left: 50em;
}