.btn{
    border-radius: 0;

}
.caret{
    color: white;
}
.dropdown-menu{
    color: #000;
}
.navbar {
    border-radius: 0;
}
#navbar{
    width: 100%;
}
#name{
    align-content: center;
}
#centerDiv{
    padding:0;
}
.navbar-inner{
    float: none;
    margin: 0;
}
#dropMeny{
    color: #0f0f0f;
}
#stayOnScreen{
    position: fixed;
}
.navbuttons{
    padding: 0;
}
#imageContainer{
    position: relative;
    max-width: 50%;
    min-width: 30em;
    height: 10em;
    bottom:30%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.imageHolder{
    position: absolute;
    max-width: 50%;
    min-width: 5em;
    max-height: 50%;
    height: 7em;
    background-color: #0f0f0f;


}
#chillImg{
    left: 10em;
}
#StreetImg{
    left: 20em;

}
#TasteImg{
    left: 30em;

}